.App {
  height: 100vh;
  background-color: #F8F5F2;
}

navbar {
  display : flex;
  flex-direction : row;
  justify-content : flex-end;
  list-style : none;
  padding : 1rem 1rem; 
  background-color : #2E2B28
}

.navlinks{
  display : flex;
  flex-direction : row;
  justify-content : flex-end;
  list-style : none;
}

.link {
  margin-right : 20px;
  font-family: Raleway;
  font-size: 30px;
  color : #F8F5F2;
  transition: color .5s;
  cursor: pointer;
}

.link:hover{
  color: #FFBE0B;
}

.banner {
  display : flex;
  justify-content : center;
  align-items: center;
  height : 85%
}

.buttonContainer{
  display: flex;
  flex-direction: row;
}

.button {
  height : 65px;
  width : 65px;
  display: flex;
  justify-content : center;
  position: relative;
  bottom: 18rem;
  left: 60.5%;
  border-radius : 16px;
  border : none;
  cursor : pointer;
  margin-right: 1rem;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
  transition: background-color .5s;
}

button:hover {
  background-color: #FFFFFE;
}

.row {
  height : 25px;
  display : flex;
  justify-content : center;
  align-content : center;
  position : relative;
  bottom : 6rem
}

.icon {
  height : 40px;
  width : 40px;
  position: absolute;
  top : 10px;
  left : 12px;
  color : rgba(0, 0, 0, 0.5)
}
