:root{
  --main-bg-color: #F8F5F2;
  --brown-primary: #2E2B28;
  --shadow-primary: 4px 4px 3px rgba(0, 0, 0, 0.2);
}

.App {
  height: 100vh;
  background-color: var(--main-bg-color);
}

/* navbar styles */

navbar {
  display : flex;
  flex-direction : row;
  justify-content : flex-end;
  list-style : none;
  padding : 2rem 1rem; 
  background-color : transparent
}

.navlinks{
  display : flex;
  flex-direction : row;
  justify-content : flex-end;
  list-style : none;
}

.link {
  margin-right : 20px;
  font-family: Raleway;
  font-size: 25px;
  color : #F8F5F2;
  transition: color .5s;
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
}

.link.navbar-logIn{
  background-color: var(--brown-primary);
  border-radius: 15px;
  padding: 10px;
  box-shadow: var(--shadow-primary);

}

/* banner styles */

.banner {
  display : flex;
  justify-content : center;
  align-items: center;
  height : 80%;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;                       
}

/* buttons styles */

.buttonContainer{
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 24%;
  left: 56%;
  width: 20rem;
  justify-content: center;
}

.button {
  height: 65px;
  width: 65px;
  display: flex;
  justify-content: center;
  position: relative;
  /* bottom: 18rem; */
  /* left: 60.5%; */
  border-radius: 16px;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  box-shadow: var(--shadow-primary);
  transition: background-color .5s;
}

button:hover {
  background-color: #FFFFFE;
}

/* row styles */

.rowcontainer{
  display: flex;
  justify-content: center;
  position : relative;
  bottom : 6rem;
}

.row {
  height : 40px;
  width: 40px;
  user-select: none; 
}

/* icons styles */

.icon {
  height : 40px;
  width : 40px;
  position: absolute;
  top : 10px;
  left : 12px;
  color : rgba(0, 0, 0, 0.5)
}

.rowIcon{
  height: 100%;
  width: 100%;
  color : rgba(0, 0, 0, 0.5)
}